<?xml version="1.0" encoding="utf-8"?>
<CMSImportSchedulerConfig>
  <webfarmEnabled>false</webfarmEnabled>
  <schedulerFromAdress>robot@cmsimport.com</schedulerFromAdress>
  <schedulerSubject>Scheduled task executed</schedulerSubject>
  <schedulerTemplate>&lt;p&gt;This is an automated mail to inform you that the task &lt;strong&gt;[#Taskname]&lt;/strong&gt; executed&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Statistics:&lt;/strong&gt;&lt;/p&gt;
          &lt;p&gt;
          [#RecordCount] records in datasource&lt;br/&gt;
          [#RecordsAdded] records added&lt;br/&gt;
          [#RecordsUpdated] records updated&lt;br/&gt;
          [#RecorsdSkippedCount] records skipped&lt;br/&gt;
          [#RecordsDeleted] records updated&lt;br/&gt;
          [#ErrorCount] errors during import&lt;br/&gt;
          [#Errors]
          &lt;/p&gt;</schedulerTemplate>
</CMSImportSchedulerConfig>