@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{ var selection = Model.Content.Ancestors().ToArray(); }

@if (selection.Length > 0)
{
    <ul class="breadcrumb">
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
        @foreach (var item in selection.OrderBy(x => x.Level))
        {
            <li class="breadcrumb-item">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
        <li class="breadcrumb-item active">@Model.Content.Name</li>
    </ul>
}