<?xml version="1.0" encoding="utf-8"?>
<cmsImport>
  <mailCredentialsFromAdress>robot@cmsimport.com</mailCredentialsFromAdress>
  <mailCredentialsSubject>your account is ready</mailCredentialsSubject>
  <mailCredentialsTemplate>A user account is created for you!&lt;br/&gt;
Login with:&lt;br/&gt;&lt;br/&gt;
login:[#loginname]
pass:[#password]&lt;br/&gt;&lt;br/&gt;
Have FUN!!
</mailCredentialsTemplate>
    <advancedSettings>
        <allowedFileExtensions>.doc,.docx,.pdf,.ppt,.pptx,.rar,.xls,.xlsx,.zip</allowedFileExtensions>
        <mediaImportAllowedDomains />
        <mediaImportLocation>/</mediaImportLocation>
      <mediaImportEnsureStructure>true</mediaImportEnsureStructure>
      <mediaImportImageTypeAlias>Image</mediaImportImageTypeAlias>
      <mediaImportFileTypeAlias>File</mediaImportFileTypeAlias>
      <mediaImportFolderTypeAlias>Folder</mediaImportFolderTypeAlias>
    </advancedSettings>
    <ignoredDataAdapters/>
  <ignoredMemberPropertyAliasses>umbracoFailedPasswordAttemptsPropertyTypeAlias,umbracoApprovePropertyTypeAlias,umbracoLockPropertyTypeAlias,umbracoMemberLastLockout,umbracoLastLoginPropertyTypeAlias,umbracoMemberLastPasswordChange</ignoredMemberPropertyAliasses>
  <nullValues>NULL</nullValues>
</cmsImport>